/*font Variables*/
@import "~bootstrap/scss/bootstrap";
$roboto: "Roboto", sans-serif;
/*Color Variables*/
$bc: #5cb85c;
$heding: #405867;
$pfont: #5f6771;

$theme: #454cad;
$dark-text: #5f6982;

// Mixins
@mixin transition(
  $property: all,
  $duration: 300ms,
  $animate: linear,
  $delay: 0s
) {
  transition: $property $duration $animate $delay;
}

// Placeholder Mixins
@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

// Font family link
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900");

.multi_step_form {
  background: #f6f9fb;
  display: block;

  #msform {
    @media only screen and (max-width: 500px) {
      .col {
        flex: auto !important;
      }
    }
    text-align: center;
    position: relative;

    margin: 0 auto;
    background: #ffffff;
    z-index: 1;

    .tittle {
      text-align: left;
      padding-bottom: 15px;

      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 54px;
      letter-spacing: 0.07em;

      color: #000000;

      span {
        color: red;
      }
    }
    fieldset {
      @media only screen and (max-width: 500px) {
        padding: 0 !important;
        th {
        
          padding-left: 3px;
          padding-top: 2px;
          padding-bottom: 2px;
         
        }
       
        td {
          padding: 0;
          padding-left: 3px;
          padding-top: 5px;
         
        }
        .Add {
          min-width: 100px;
        }
      }
      .Add {
        min-width: 150px;
      }
      border: 0;
      padding: 20px 105px 0;
      position: relative;
      width: 100%;
      left: 0;
      right: 0;
      &:not(:first-of-type) {
        display: none;
      }
      h3 {
        font: 500 18px/35px $roboto;
        color: #3f4553;
      }
      h6 {
        font: 400 15px/28px $roboto;
        color: $pfont;
        padding-bottom: 30px;
      }
      .intl-tel-input {
        display: block;
        background: transparent;
        border: 0;
        box-shadow: none;
        outline: none;
        .flag-container {
          .selected-flag {
            padding: 0 20px;
            background: transparent;
            border: 0;
            box-shadow: none;
            outline: none;
            width: 65px;
            .iti-arrow {
              border: 0;
              &:after {
                content: "\f35f";
                position: absolute;
                top: 0;
                right: 0;
                font: normal normal normal 24px/7px Ionicons;
                color: $pfont;
              }
            }
          }
        }
      }
      #phone {
        padding-left: 80px;
      }
      .form-group {
        padding: 0 10px;
      }
      .fg_2,
      .fg_3 {
        padding-top: 10px;
        display: block;
        overflow: hidden;
      }
      .fg_3 {
        padding-bottom: 70px;
      }
      .form-control,
      .product_select {
        border-radius: 3px;
        border: 1px solid #d8e1e7;
        padding: 0 20px;
        height: auto;
        font: 400 15px/48px $roboto;
        color: $pfont;
        box-shadow: none;
        outline: none;
        width: 100%;
        @include placeholder {
          color: $pfont;
        }
        &:hover,
        &:focus {
          border-color: $bc;
        }
        &:focus {
          @include placeholder {
            color: transparent;
          }
        }
      }
      .product_select {
        &:after {
          display: none;
        }
        &:before {
          content: "\f35f";
          position: absolute;
          top: 0;
          right: 20px;
          font: normal normal normal 24px/48px Ionicons;
          color: $pfont;
        }
        .list {
          width: 100%;
        }
      }
      .done_text {
        padding-top: 40px;
        .don_icon {
          height: 36px;
          width: 36px;
          line-height: 36px;
          font-size: 22px;
          margin-bottom: 10px;
          background: $bc;
          display: inline-block;
          border-radius: 50%;
          color: #ffffff;
          text-align: center;
        }
        h6 {
          line-height: 23px;
        }
      }
      .code_group {
        margin-bottom: 60px;
        .form-control {
          border: 0;
          border-bottom: 1px solid #a1a7ac;
          border-radius: 0;
          display: inline-block;
          width: 30px;
          font-size: 30px;
          color: $pfont;
          padding: 0;
          margin-right: 7px;
          text-align: center;
          line-height: 1;
        }
      }

      .passport {
        margin-top: -10px;
        padding-bottom: 30px;
        position: relative;
        .don_icon {
          height: 36px;
          width: 36px;
          line-height: 36px;
          font-size: 22px;
          position: absolute;
          top: 4px;
          right: 0;
          background: $bc;
          display: inline-block;
          border-radius: 50%;
          color: #ffffff;
          text-align: center;
        }
        h4 {
          font: 500 15px/23px $roboto;
          color: $pfont;
          padding: 0;
        }
      }
      .input-group {
        padding-bottom: 40px;
        .custom-file {
          width: 100%;
          height: auto;
          .custom-file-label {
            width: 168px;
            border-radius: 5px;
            cursor: pointer;
            font: 700 14px/40px $roboto;
            border: 1px solid #99a2a8;
            text-align: center;
            @include transition;
            color: $pfont;
            i {
              font-size: 20px;
              padding-right: 10px;
            }
            &:hover,
            &:focus {
              background: $bc;
              border-color: $bc;
              color: #fff;
            }
          }
          input {
            display: none;
          }
        }
      }
      .file_added {
        text-align: left;
        padding-left: 190px;
        padding-bottom: 60px;
        li {
          font: 400 15px/28px $roboto;
          color: $pfont;
          a {
            color: $bc;
            font-weight: 500;
            display: inline-block;
            position: relative;
            padding-left: 15px;
            i {
              font-size: 22px;
              padding-right: 8px;
              position: absolute;
              left: 0;
              transform: rotate(20deg);
            }
          }
        }
      }
    }

    #progressbar {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 1rem;
      overflow: hidden;

      li {
        list-style-type: none;
        color: #99a2a8;
        font-size: 9px;
        width: calc(100% / 3);
        float: left;
        position: relative;
        font: 500 13px/1 $roboto;
        &:nth-child(2) {
          &:before {
            content: "2";
          }
        }
        &:nth-child(3) {
          &:before {
            content: "3";
          }
        }
        &:before {
          content: "1";

          width: 25px;
          height: 25px;
          line-height: 25px;
          display: block;
          background: #eaf0f4;
          border-radius: 50%;
          margin: 0 auto 10px auto;
        }
        &:after {
          content: "";
          width: 100%;
          height: 5px;
          background: #eaf0f4;
          position: absolute;
          left: -50%;
          top: 9px;
          z-index: -1;
        }
        &:last-child {
          &:after {
            width: 150%;
          }
        }
        &.active {
          color: $bc;
          &:before,
          &:after {
            background: $bc;
            color: white;
          }
        }
      }
    }
    .action-button {
      background: $bc;
      color: white;
      border: 0 none;
      border-radius: 5px;
      cursor: pointer;
      min-width: 130px;
      font: 700 14px/40px $roboto;
      border: 1px solid $bc;
      margin: 0 5px;
      text-transform: uppercase;
      display: inline-block;
      &:hover,
      &:focus {
        background: $heding;
        border-color: $heding;
      }
    }
    .previous_button {
      background: transparent;
      color: #99a2a8;
      border-color: #99a2a8;
      &:hover,
      &:focus {
        background: $heding;
        border-color: $heding;
        color: #fff;
      }
    }
  }
}

.lead {
  // font-family: "Open Sans";
  // font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #858282;
}
.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #e9ecef;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    user-select: none;

    &:hover {
      border-color: $theme;
    }
    &.hover {
      border: 3px solid $theme;
      box-shadow: inset 0 0 0 6px #eee;

      #start {
        i.fa {
          transform: scale(0.8);
          opacity: 0.3;
        }
      }
    }
  }

  #start {
    min-height: 200px;
    display: grid;
    justify-content: center;
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    i.fa {
      font-size: 50px;
      margin-bottom: 1rem;
      transition: all 0.2s ease-in-out;
    }
  }
  #response {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    #messages {
      margin-bottom: 0.5rem;
    }
  }

  #file-image {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
    &.hidden {
      display: none;
    }
  }

  #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
  }

  progress,
  .progress {
    // appearance: none;
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }

  .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, darken($theme, 8%) 0%, $theme 50%);
    border-radius: 4px;
  }
  .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, darken($theme, 8%) 0%, $theme 50%);
    border-radius: 4px;
  }

  input[type="file"] {
    display: none;
  }

  div {
    margin: 0 0 0.5rem 0;
    color: $dark-text;
  }
  .btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: $theme;
    border-color: $theme;
    cursor: pointer;
  }
}
.Tab {
  margin-top: 20px;
  td {
    text-align: start;
    vertical-align: text-top;
    padding: 7px 20px;
  }
  th {
    text-align: start;
    padding: 11px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    border-top: inset;
    border-bottom: outset;
    border-top-color: orange;
  }
}
.TabHead {
  justify-self: baseline;
  justify-content: left;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  span {
    color: #f87115;
  }
}
.ImgHead {
  display: flex;
  justify-content: space-between;
  p {
    font-weight: 400;

    line-height: 30px;
    color: #7e7e7e;
  }
  button {
    background: #ffffff;
    border: 1px solid #f87115;
    border-radius: 25px;
    font-weight: 600;
    height: fit-content;
    color: #f87115;
  }
}
